/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  /* intro and email sign up background */
  --navy-850: hsl(217, 28%, 15%);
  /* main background */
  --navy-900: hsl(218, 28%, 13%);
  /* footer background */
  --navy-950: hsl(216, 53%, 9%);
  /* testimonials background */
  --navy-800: hsl(219, 30%, 18%);

  /* # ACCENT # */
  /* inside cta gradinet */
  --teal-200: hsl(176, 68%, 64%);
  --cyan-500: hsl(198, 60%, 50%);
  /* error */
  --red-500: hsl(0, 100%, 63%);

  /* # NEUTRAL # */
  --white: hsl(0, 0%, 100%);

  /* headings, ctas, header navigation */
  /* font-family Raleway */
  --ff-raleway: "Raleway", sans-serif;

  /* body */
  /* font-family Open Sans */
  --ff-open-sans: "Open Sans", sans-serif;

  /* font-weights */
  --fw-400: 400;
  --fw-700: 700;
}

/* ### CUSTOM PROPERTIES ### */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
